mixin footer()
	footer.pt-4.my-lg-5.mb-4.pt-lg-5.border-top.md-text-start
		.row.justify-content-center
			.col-6.col-lg-2.ms-0.ms-xl-3.mb-lg-0.mb-2
				a.foot_a_H(href="#")
					h6="Туристам"
				ul.list-unstyled.text-small
					li
						a.link-secondary(href="#")="Подбор тура"
					li
						a.link-secondary(href="#")="Акции и спецпредложения"
					li
						a.link-secondary(href="#")="Типы отдыха"
					li
						a.link-secondary(href="#")="Каталог отелей"
					li
						a.link-secondary(href="#")="Авиаперелеты"
					li
						a.link-secondary(href="#")="Визы и паспорта"
					li
						a.link-secondary(href="#")="Памятка туриста"
					li
						a.link-secondary(href="#")="Выдача документов"
					li
						a.link-secondary(href="#")="Новости"
					li
						a.link-secondary(href="#")="Отзывы и предложения"
			.col-6.col-lg-2.ms-0.ms-xl-3.mb-lg-0.mb-2
				a.foot_a_H(href="#")
					h6="Агентствам"
				ul.list-unstyled.text-small
					li
						a.link-secondary(href="#")="Агентская страница"
					li
						a.link-secondary(href="#")="Кабинет агентства"
					li
						a.link-secondary(href="#")="Сотрудничество"
					li
						a.link-secondary(href="#")="Франчайзинг"
					li
						a.link-secondary(href="#")="Выдача документов"
					li
						a.link-secondary(href="#")="Вопросы и ответы"
			.col-6.col-lg-2.ms-0.ms-xl-3.mb-lg-0.mb-2
				a.foot_a_H(href="#")
					h6="О компании"
				ul.list-unstyled.text-small
					li
						a.link-secondary(href="#")="О компании"
					li
						a.link-secondary(href="#")="Новостной центр"
					li
						a.link-secondary(href="#")="Пресса о нас"
					li
						a.link-secondary(href="#")="Пресс-релизы"
					li
						a.link-secondary(href="#")="Вакансии"
					li
						a.link-secondary(href="#")="Контакты"
					li
						a.link-secondary(href="#")="Награды"
					li
						a.link-secondary(href="#")="Партнеры"
					li
						a.link-secondary(href="#")="Корпоративная культура"
					li
						a.link-secondary(href="#")="Партнеры в регионах"
					li
						a.link-secondary(href="#")="Принимающие офисы"
			.col-6.col-lg-2.ms-0.ms-xl-3.mb-lg-0.mb-2
				a.foot_a_H(href="#")
					h6="Корпоративным клиентам"
				ul.list-unstyled.text-small
					li
						a.link-secondary(href="#")="Корпоративный отдых и проекты"
					li
						a.link-secondary(href="#")="Примеры корпоративных программ"
					li
						a.link-secondary(href="#")="Оформление заявки"
					li
						a.link-secondary(href="#")="Отели с конференц-залами"
					li
						a.link-secondary(href="#")="Нестандартные варианты размещения"